doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        title= subject
    
    body
        div.container.mt-2
          div.row
            div.col-12.d-flex.justify-content-center
              block section