extends base.pug
  
block section
  .row
    .col.d-flex.justify-content-center
      h2 Cars
  .row
    .col.d-flex.justify-content-center
      .card.card-width
        .card-block
        h4.card-title test card
        p.card-text test text test text